<footer class="footer">
    <div class="container footer-container">
        <img class="footer-logo" src="/img/footer/logo.png" alt="Forest Dreams" width="291" height="78" loading="lazy">
        <ul class="footer-navigation">
            <li class="footer-link">
                <a class="footer-underline" href="terms.html">Terms & Conditions</a>
            </li>
            <li class="footer-link">
                <a class="footer-underline" href="privacy.html">Privacy Policy </a>
            </li>

            <li class="footer-link">
                <a class="footer-underline" href="cookies.html">Cookies Policy</a>
            </li>
        </ul>
        <p class="footer-text">© 2025 — All rights reserved. megatwist.space</p>
    </div>
</footer>