<header class="header" id="site-header">
    <div class="header-container container">
        <a href="./#home">
        <img class="header-logo" src="/img/logo.png" alt="Forest Dreams" loading="lazy">
       </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 9.5H14M2 6.5H14M2 3.5H14M2 12.5H14" stroke="black" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#about">About</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#demo">Game</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#forest">Forest Mechanics</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#advantages">Advantages</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#like">Similar Games</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#home">Home</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#about">About</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#demo">Game</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#forest">Forest Mechanics</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#advantages">Advantages</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#like">Similar Games</a>
        </li>
         <li class="menu-item"><a class="menu-list-item" href="privacy.html">Privacy Policy</a></li>
        <li class="menu-item"><a class="menu-list-item" href="terms.html">Terms and Conditions</a></li>
       

        <li class="menu-item"><a class="menu-list-item" href="cookies.html">Cookies Policy</a></li>
    </ul>
</div>