body{
  background: #040f0d;
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #fff;
}
h2{
  font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 44px;
    line-height: 1.09091;
    text-align: center;
    color: #8eff2f;
}
@media only screen and (min-width: 1440px) {
  body{
    font-size: 20px;
      line-height: 1.4;
  }
  h2{
      font-size: 52px;
      line-height: 1.15385;
  }
}