.footer{
  background-image: url("/img/footer/mob.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.footer-container{
  padding: 48px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-navigation{
  display: flex;
  margin-top: 28px;
  margin-bottom: 32px;
  justify-content: center;
  font-weight: 300;
    font-size: 12px;
    line-height: 1.33333;
    gap: 12px;
}
.footer-text{
  font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    text-align: center;
}
@media only screen and (min-width: 1440px) {
  .footer{
    background-image: url("/img/footer/desk.png");
  }
  .footer-container{
    padding: 48px 126px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .footer-logo{
    order: 2;
  }
  .footer-navigation{
    order: 1;
    font-size: 14px;
      line-height: 1.42857;
      gap: 20px;
  }
  .footer-text{
    order: 3;
    font-size: 14px;
      line-height: 1.42857;
  }
}