.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 1088px;
}
.hero-wrapper{
    backdrop-filter: blur(47.900001525878906px);
        background: rgba(6, 6, 6, 0.05);
        margin-top: 170px;
        border-radius: 37px;
            width: 335px;
            height: auto;
            padding: 27px 16px;
}
.hero-subtitle{
    font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 1.14286;
        text-align: center;
        color: #8eff2f;
       
}
.hero-text{
    font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #8eff2f;
        margin-top: 16px;
        margin-bottom: 32px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
    width: 290px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}
@media only screen and (min-width: 1440px) {
  .hero-section{
    background-image: url("/img/hero/desk.png");
    height: 800px;
  }
.hero-wrapper{
    width: 770px;
        margin-left: auto;
        margin-right: auto;
            margin-top: 240px;
}
.hero-subtitle{
    font-size: 36px;
        line-height: 1.11111;
        width: 720px;
        margin-left: auto;
        margin-right: auto;
}
.hero-text{
    font-size: 18px;
        line-height: 1.55556;
}
}
/* DISCLAIMER */
.disclaimer-section{
    background-image: url("/img/disclaimer/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.disclaimer-title{
        font-size: 28px;
        line-height: 1.28571;
        text-align: center;
        color: #8eff2f;
}
.disclaimer-text{
    font-weight: 700;
    text-align: center;
    margin-top: 24px;
}
@media only screen and (min-width: 1440px) {
 .disclaimer-section{
    background-image: url("/img/disclaimer/desk.png");
 }
 .disclaimer-title{
        font-size: 36px;
        line-height: 1.11111;
 }
 .disclaimer-text{
    margin-top: 32px;
    font-size: 20px;
        line-height: 1.4;
        width: 1057px;
        margin-left: auto;
        margin-right: auto;
 }
}
/* Demo */
.demo-section {
    background-image: url("/img/demo/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.demo-container {
    position: relative;


}
.demo-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 45px auto 0;
    height: 348px;
}

.game-img {
width: 335px;
    height: 348px;
}

/* ===== КНОПКА ===== */

.demo-btn {
    position: absolute;
    z-index: 10;
    display: inline-block;
    cursor: pointer;
    top: 60%;
    left: 50%;
width: 231px;
    height: 70px;
    transform: translate(-50%, -50%);
}

.demo-img {
    display: block;
    width: 100%;
    height: auto;
}

/* ===== ФОН ===== */

.game-img {
    width: 100%;
    display: block;
}

/* ===== IFRAME ===== */

.iframe-wrapper {
    position: absolute;
    top: 10%;
    left: 45%;
    transform: translateX(-48%);
    width: 68%;
    height: 54%;
    z-index: 20;

    /* 🔥 ГОЛОВНЕ ВИПРАВЛЕННЯ */
    pointer-events: none;
}

#gameIframe {
    width: 110%;
    height: 150%;
    border: none;
    display: none;
    background: #000;
    border-radius: 10px;
}

/* АКТИВНИЙ СТАН */
.iframe-wrapper.active {
    pointer-events: auto;
}

#gameIframe.active {
    display: block;
}

/* ===== КНОПКА ЗАКРИТТЯ ===== */

#closeIframeBtn {
    position: absolute;
    top: 20px;
    right: -20px;

    background: none;
    border: none;
    cursor: pointer;

    display: none;

    z-index: 9999;
    /* 🔥 НАД iframe */
    pointer-events: auto;
}

#closeIframeBtn.active {
    display: block;
}
.close-img{
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 10px;
}
@media only screen and (min-width: 1440px) {
   .demo-section{
    background-image: url("/img/demo/desk-min.png");
   }
   .demo-wrapper {
       position: relative;
       max-width: 1200px;
       margin:0 auto;
       height: 625px;
   }

   .game-img {
width: 1178px;
    height: 625px;
   }
   /* ===== IFRAME ===== */

   .iframe-wrapper {
       position: absolute;
       top: 29%;
       left: 47%;
       transform: translateX(-48%);
       width: 68%;
       height: 54%;
       z-index: 20;
       pointer-events: none;
   }

   #gameIframe {
       width: 102%;
       height: 111%;

   }
   #closeIframeBtn {
       position: absolute;
       top: 40px;
       right: 10px;
     
   }
}
/* Forest mechanics */
.forest-section{
    background-image: url("/img/forest/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.forest-title{
    text-align: left;
}
.forest-wraper{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.forest-subtitle{
    font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.55556;
        color: #fff;
}
@media only screen and (min-width: 1440px) {
   .forest-section{
    background-image: url("/img/forest/desk.png");
   }
   .forest-title{
    margin-left: 560px;
   }
   .forest-wraper{
    margin-top: 60px;
    width: 668px;
    margin-left: 560px;
    gap: 30px;
   }
   .forest-subtitle{
    font-size: 20px;
   }
}