.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 1088px;
}
.hero-wrapper{
    backdrop-filter: blur(47.900001525878906px);
        background: rgba(6, 6, 6, 0.05);
        margin-top: 170px;
        border-radius: 37px;
            width: 335px;
            height: auto;
            padding: 27px 16px;
}
.hero-subtitle{
    font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 1.14286;
        text-align: center;
        color: #8eff2f;
       
}
.hero-text{
    font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #8eff2f;
        margin-top: 16px;
        margin-bottom: 32px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
    width: 290px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}