@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./cookie-popup.css');


.background {
    background: #040f0d;
font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.55556;
    text-align: justify;
    color: #fff;
}

.privacy-title {
font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;
    color: #8eff2f;
    margin-top: 40px;
    margin-bottom: 40px;

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
    font-weight: 300;
        font-size: 18px;
        line-height: 1.55556;
font-weight: 700;
}

.policy-list {
    
    list-style-type: disc;
    padding-left: 30px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
}

.mail-link {
font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.policy-span {
    font-weight: 700;
}

@media only screen and (min-width: 1439px) {
    .background {
        text-align: left;
    font-size: 18px;
        line-height: 1.55556;
    }
.policy-subtitle {
    font-size: 18px;
        line-height: 1.55556;
}
    .privacy-title {
font-size: 48px;
    line-height: 1.08333;
        margin-top: 120px;
    }

}